* {
	font-family: arial;
}

body {
    background-image: url('../images/bg-body.gif');
}

.page {
    background-image: url('../images/bg-page.gif');
    width: 960px;
    z-index: 1;
}

#navbar .active {
	background:url(../images/navigation.gif) no-repeat;
    padding: 14px 17px;
    margin-right: -10px;
    color: black;
    z-index: -9;
}

#left-header {
    max-width: 340px;
}

#ticket h1 {
    background-image: url('../images/ticket.gif');
}

#events {
    background-image: url('../images/event.gif');
}

#animals {
    background-image: url('../images/animals.gif');
}

#footer {
	background: url(../images/bg-footer.gif) repeat-x center top;
}

#footer-content {
    max-width: 960px;
}